/* general */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

:root {
    --darkBlue: #000eae;
    --blue: #0055ff;
    --lightBlue: #3497ec;
    --darkGrey: #161616;
    --grey: #4e4e4e;
    --lightGrey: #989898;
    --white: #ffffff;
    --background: url("data:image/svg+xml,%3Csvg width='52' height='26' viewBox='0 0 52 26' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23f9f9f9' fill-opacity='0.45'%3E%3Cpath d='M10 10c0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6h2c0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4v2c-3.314 0-6-2.686-6-6 0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6zm25.464-1.95l8.486 8.486-1.414 1.414-8.486-8.486 1.414-1.414z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");

}

* {
    margin: 0;
    padding: 0;
}

.wrapper {
    background-color: var(--white);
    color: var(--darkGrey);
    background-color: var(--white);
    background-image: var(--background)
}

body {
    font-family: 'Poppins', sans-serif;
}

html {
    scroll-behavior: smooth;
}

p {
    color: var(--grey);
}

button {
    font-family: 'Poppins';
    cursor: pointer;
}

/* transition */

a, .btn {
    transition: all 0.3s ease;
}

/* desktop nav */

nav, .nav-links {
    display: flex;
}

nav {
    justify-content: space-around;
    align-items: center;
    height: 17vh;
}

.nav-links {
    gap: 2rem;
    list-style: none;
    font-size: 1.5rem;
}

a {
    color: var(--darkGrey);
    text-decoration: none;
    position: relative;
}

a::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 1.6px;
    background-color: var(--lightGrey);
    transition: width 0.3s ease;
}

a:hover::before {
    width: 100%;
}

a:hover {
    color: var(--grey);
    text-decoration: none; 
}

.logo {
    font-size: 2rem;
    text-shadow: -4px 4px 4px rgba(0,0,0,0.19);
    transition: all 0.3s ease;
}

.logo:hover {
    cursor: default;
    transform: scale(1.03);
}

/* hamburger menu */

#hamburger-nav {
    display: none;
}

.hamburger-menu {
    position: relative;
    display: inline-block;
}

.hamburger-icon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 24px;
    width: 30px;
    cursor: pointer;
}

.hamburger-icon span {
    width: 100%;
    height: 2px;
    background-color: var(--darkGrey);
    transition: all 0.3 ease-in-out;
}

.menu-links {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: var(--white);
    width: fit-content;
    max-height: 0;
    overflow: hidden;
    padding: 0.5rem 1rem;
    transition: all 0.2s ease-in-out;
    border-radius: 0.5rem;
}

.menu-links a {
    display: block;
    padding: 10px;
    text-align: center;
    font-size: 1.1rem;
    color: var(--darkGrey);
    text-decoration: none;
    transition: all 0.3 ease-in-out;
}

.menu-links li {
    list-style: none;
}

.menu-links.open {
    max-height: 300px;
    box-shadow: -1px 6px 16px 4px rgba(0, 0, 0, 0.27);
    margin-top: 1rem;
}

.hamburger-icon.open span:first-child {
    transform: rotate(45deg) translate(10px, 5px);
}

.hamburger-icon.open span:nth-child(2) {
    opacity: 0;
}

.hamburger-icon.open span:last-child {
    transform: rotate(-45deg) translate(10px, -5px);
}

.hamburger-icon span:first-child {
    transform: none;
}

.hamburger-icon span:first-child {
    opacity: 1;
}

.hamburger-icon span:first-child {
    transform: none;
}

/* section */

section {
    padding-top: 4vh;
    height: 96vh;
    margin: 0 10rem;
    box-sizing: border-box;
    min-height: fit-content;
}

.section-container {
    display: flex;
}

/* profile section */

#profile {
    display: flex;
    justify-content: center;
    gap: 5rem;
    height: 80vh;
}

.section__pic-container {
    display: flex;
    height: 400px;
    width: 400px;
    margin: auto 0;
}

.section__text {
    align-self: center;
    text-align: center;
}

.section__text p {
    font-weight: 600;
}

.section__text__p1 {
    text-align: center;
}

.section__text__p2 {
    font-size: 1.75rem;
    margin-bottom: 1rem;
}

.title {
    font-size: 3rem;
    text-align: center;
    color: var(--blue);
    text-shadow: -4px 4px 4px rgba(0,0,0,0.19);
}

.name {
    color: var(--blue);
}

#socials-container {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    gap: 1rem;
}

@keyframes pulse {
    0% {
      box-shadow: 0 0 30px var(--grey);
    }
    50% {
      box-shadow: 0 0 5px var(--grey);
    }
    100% {
      box-shadow: 0 0 30px var(--grey);
    }
  }

  .headshot {
    border-radius: 50%;
    animation: pulse 3s infinite;
    transition: outline 0.2s ease;
    transition: outline-offset 0.3s ease; 
  }

  .headshot:hover {
    cursor: pointer;
    outline: 2px solid var(--blue);
    outline-offset: 17px; 
  }


  

/* icons */

.icon {
    cursor: pointer;
    height: 2rem;
    filter: grayscale(100%);
}

/* buttons */

.btn-container {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.btn {
    font-weight: 600;
    transition: all 0.3s ease;
    padding: 1rem;
    width: 9rem;
    border-radius: 2rem;
}

.btn-color-2 {
    border: var(--blue) 0.1rem solid;
    color: var(--blue);
    background-color: var(--white);
}

.btn-color-1 {
    border: none;
    color: var(--blue);
}

.btn-color-1, .btn-color-2:hover {
    color: var(--white);
    background: var(--blue);    
}

.btn-color-1:hover {
    background: var(--darkBlue);
}

/* about section */

#about {
    position: relative;
}

.about-containers {
    gap: 2rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
}

.about-details-container {
    justify-content: center;
    flex-direction: column;
}

.about-containers, .about-details-container {
    display: flex;
}

.about-pic {
    border-radius: 1rem;
    box-shadow: -1px 6px 16px 4px rgba(0, 0, 0, 0.50);
    outline: 2px solid var(--blue);
    transition: all 0.3s ease;
}

.about-pic:hover {
    cursor: pointer;
    outline-offset: 17px;
}

.arrow {
    position: absolute;
    right: -5rem;
    bottom: 2.5rem;
}

.text-container {
    text-align: justify;
}

.details-container {
    padding: 1.5rem;
    flex: 1;
    background: var(--white);
    border-radius: 1rem;
    border: var(--grey) 0.1rem solid;
    border-color: var(--lightGrey);
    text-align: center;
    box-shadow: -1px 6px 16px 4px rgba(0, 0, 0, 0.27);
    transition: transform 0.2s ease-in-out;
    cursor: default;
}

.details-container:hover {
    transform: scale(1.02);
    cursor: pointer;
}

.section-container {
    gap: 5rem;
    height: 80%;
}

.section__pic-container {
    height: 400px;
    width: 400px;
    margin: auto 0;
}

/* experience */

#experience {
    position: relative;
}

.experience-sub-title {
    color: var(--grey);
    font-weight: 600;
    font-size: 1.75rem;
    margin-bottom: 2rem;
}

.experience-details-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.article-container {
    display: flex;
    text-align: initial;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 2.5rem;
    justify-content: space-around;
}

article {
    display: flex;
    width: 10rem;
    justify-content: space-around;
    gap: 0.5rem;
}

article .icon {
    cursor: default;
}

/* projects */

#projects {
    position: relative;
}

.color-container {
    border-color: var(--lightGrey);
    background: var(--white);
    box-shadow: -1px 6px 16px 4px rgba(0, 0, 0, 0.27);
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}

.color-container:hover {
    transform: scale(1.02);
    box-shadow: -1px 6px 16px 4px rgba(0, 0, 0, 0.35);
}

.project-img {
    width: 100%;
    height: 90%;
    border: 2px solid var(--lightGrey);
}

.project-title {
    margin: 1rem;
    color: var(--darkGrey);
}

.project-btn {
    color: var(--darkGrey);
    border-color: var(--lightGrey);
}

.project-btn:hover {
    border-color: var(--blue);
}

/* contact */

#contact {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 70vh;
}

.contact-info-upper-container {
    display: flex;
    justify-content: center;
    border-radius: 4rem;
    border: var(--grey) 0.1rem solid;
    border-color: var(--lightGrey);
    background: var(--white);
    margin: 2rem auto;
    padding: 0.5rem;
    box-shadow: -1px 6px 16px 4px rgba(0, 0, 0, 0.27);
    transition: transform 0.2s ease-in-out;
}

.contact-info-upper-container:hover {
    transform: scale(1.03);
}

.contact-info-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    margin: 1rem;
}

.container-info-container p {
    font-size: larger;
}

.contact-icon {
    cursor: default;
}

.email-icon {
    height: 2.3rem;
}

/* footer section */

footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 11vh;
    margin: 0;
    box-sizing: border-box;
    background-color: var(--darkGrey);
    box-shadow: -1px -3px 20px 0px rgba(0,0,0,0.52);
}

.footer-p {
    background-color: var(--darkGrey);
    color: var(--white);
    font-weight: 600;
}